#include "menu.h"

REVERSI ICON "reversi.ico"
WNDMENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New Game..." , FILE_NEW_GAME
		MENUITEM SEPARATOR
		MENUITEM "&Exit" , FILE_EXIT
	END
	POPUP "&Animation"
	BEGIN
		MENUITEM "&Fast" , ANIMATION_FAST
		MENUITEM "&Normal" , ANIMATION_NORMAL , CHECKED
		MENUITEM "&Slow" , ANIMATION_SLOW
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About..." , HELP_ABOUT
	END
END